body {background-color: rgba(180,150,169,1);}
.collab {background: rgba(255,188,169,1)}
.info { background: rgba(200,160,169,1)}
@-webkit-keyframes reset {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@-webkit-keyframes fade-in {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes reset {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@-moz-keyframes fade-in {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes reset {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.quickFade {
    -webkit-animation-name: reset, fade-in;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-in;

	-moz-animation-name: reset, fade-in;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: ease-in;

	animation-name: reset, fade-in;
    animation-duration: 1s;
    animation-timing-function: ease-in;
}

 /* TODO::: Right now none of these delays work*/
.delayOne {
	-webkit-animation-delay: 0.75, 0.75s;
	-moz-animation-delay: 0.75, 0.75s;
	animation-delay: 0.75, 0.75s;
}

.delayTwo {
	-webkit-animation-delay: 0, 1s;
	-moz-animation-delay: 0, 1s;
	animation-delay: 0, 1s;
}

.delayThree {
	-webkit-animation-delay: 0, 1.5s;
	-moz-animation-delay: 0, 1.5s;
	animation-delay: 0, 1.5s;
}

.delayFour {
	-webkit-animation-delay: 0, 2s;
	-moz-animation-delay: 0, 2s;
	animation-delay: 0, 2s;
}

.delayFive {
	-webkit-animation-delay: 0, 15s;
	-moz-animation-delay: 0, 15s;
	animation-delay: 0, 15s;
}
