body {background-color: rgba(101,120,20,1); max-width: 500px}
div.wordspew { max-width: 100px; border: 10px dotted rgba(242,184,2,.7) }
div.sidebar {text-align: right; font-style: italic; font-family: Courier}
